<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Assist.io</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/q1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-2 p-2">
            <div class="container-fluid">
                <a class="navbar-brand title m-1" asp-controller="q1" asp-action="Index">Assist<span class="greeny">.io</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="Company">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="Collaborations">Collaborations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-3 text-dark menu" asp-controller="q1" asp-action="SignIn">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container align-middle flex-wrap mt-5 p-2">
        <main role="main" class="pt-2 pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- 

    <div class="footer d-flex p-3">
        Assist<span class="greeny">.io</span>&copy;2022 <a asp-controller="q1" asp-action="Products">Products</a>
    </div>

    -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
