@{
    ViewData["Title"] = "Company";
}
<div>
    <h1>M-POWERIN P-PLE INC.</h1>
    <h4>Est. 2019</h4>
    <div class="company m-2">
        <p>7 billion population on earth has the same right to hustle and survive life. Social, Culture, Education, Economy, and Health are the fundamental needs every single day. 
             We’re focusing on Human-Resource distribution  and development worldwide through Assist.io startup project for the sake of giving opportunity to them who could gain wealth by helping or assisting others. 
             Also giving the ease of seeking for caregiver and required resource to handle people’s inability of multitasking or them who has been reaching limit. 
             We’re now also working on upcoming features and updates that will be launched soon!
        </p>
    </div>
    <div class="row m-2 p-2">
        <div class="col m-2 justify-content-center">
            <img class="d-inline-block" src="~/assets/worker.png" width="200" height="200">
            <p class="d-inline-block">
                <span class="super">Tsania Az Zahra</span><br>
                Director of Assist.io
            </p>
        </div>
        <div class="col m-2 justify-content-center">
            <img class="d-inline-block" src="~/assets/building.png" width="200" height="200">
            <p class="d-inline-block">
                <span class="super">Head Office and Contact</span><br>
                ITS Avenue 1st, Sukolilo, Surabaya,<br>
                East Java, Indonesia<br>
                Email : admin@mpowerppl.com <br>
                Phone : 081-2345-6789
            </p>
        </div>
    </div>
</div>