@{
    ViewData["Title"] = "Products";
}
<div>
    <h1 class="mb-3">What We Provide?</h1>

    <div class="row mb-2">
        <div class="col-4 text-center">
            <img src="~/assets/baby_bald.png" width="200" height="200">
            <h4 class="mt-4 super">Baby-Sitter</h4>
            <p>Are You a New Mom? or a Busy-Working Mom? 
                Go ask for a help by deciding Baby-Sitter for the nursery-stuff here!</p>
        </div>
        <div class="col-4 text-center">
            <img src="~/assets/old.png" width="200" height="200">
            <h4 class="mt-4 super">Elderly-Caretaker</h4>
            <p>Worrying your parents left home alone without anyone to help out for living?
                Or having health issue or medical intensive-care? We're able to give a hand!
            </p>
        </div>

        <div class="col-4 text-center">
            <img src="~/assets/maid.png" width="200" height="200">
            <h4 class="mt-4 super">Housekeeping Maid</h4>
            <p>Not enough time to do housechores alone? Lots of thing to do at home? Housekeeping Maid may helps!
            </p>
        </div>
        
        <div class="col-4 text-center">
            <img src="~/assets/chat.png" width="200" height="200">
            <h4 class="mt-4 super">Private Course Tutor</h4>
            <p>Tired of controlling children's learning-time? Need any skill to master from home? Call a teacher that guide you to learn!
            </p>
        </div>

        <div class="col-4 text-center">
            <img src="~/assets/candidate.png" width="200" height="200">
            <h4 class="mt-4 super">Personal Secretary</h4>
            <p>Getting overwhelmed by your job tasks? No time to arranging documents? Secretary may helps!
            </p>
        </div>

        <div class="col-4 text-center">
            <img src="~/assets/jeep.png" width="200" height="200">
            <h4 class="mt-4 super">Personal Driver</h4>
            <p>No time to drive the way to home after work? Wanna travel for days afar? Check your driver's availability here!
            </p>
        </div>
    </div>
    <div class="row m-3 text-center">
        <h3><span class="greeny">And many more options to choose!</span> What are you waiting for? Join us <span class="greeny">NOW!</span></h3>
    </div>
</div>