@{
    ViewData["Title"] = "Profile";
}
<div class="content">
    <h1>What is Assist.<span class="greeny">io</span>?</h1>
    <div class="row">
        <div class="col-4">
            <img src="~/assets/heart.png" width="300" height="300">
        </div>
        <div class="col">
            <p class="m-2">Assist.io is a worldwide  platform which allows assistant-seekers find and hire their personal assistant (foreigners or locals) regarding to their need and purpose. 
                Everyone is able to play role in this platform either offering service or using the service. 
                The agreement to take or reject the offer and decising the choice are both-sided contract. 
                Everyone is always able to customize the target. 
            </p>
            <p class="m-2 text-end">
                assistant-roles-provided are only what displayed in the choice. for any recommended-additional option please contact our help-desk to consider adding it into the role-list. 
                Other questions and complaints are also welcome in. 
                This platform is under the International law supervision and doesn’t stand as a middleman-party, the deal is person to person business. 
                Fake Identity, scam, abusive attempt, and breaking our privacy and policy are being reported to the legal authority.
            </p>
        </div>
    </div>
    <div class="row">
        <h3>"Let's Holding Hands to <span class="greeny">Help Each Other!</span>"</h3>
    </div>
</div>