@{
    ViewData["Title"] = "SignIn";
}
<div class="row text-center">
    <div class="col-6 m-1 text-center">
        <div class="sign-in p-3 ">
            <h2 class="m-2">Sign In Here!</h2>
            <div class="register m-3">
                <input type="email" class="reg_input form-control" placeholder="Email">
            </div>
            <div class="register m-3">
                <input type="password" class="reg_input form-control" placeholder="Password">
            </div>
            <div class="register m-2">
                <p>Forgot your password? <span><a class="greeny" href="#">Reset Password</a></span> here!</p>
            </div>
            <div class="register m-3">
                <p>Sign in with social media accounts?</p>
                <div class="row m-3">
                    <div class="col social btn">
                        <img src="~/assets/google-plus.png" width="60" height="60">
                    </div>
                    <div class="col social btn">
                        <img src="~/assets/twitter.png" width="60" height="60">
                    </div>
                    <div class="col social btn">
                        <img src="~/assets/whatsapp.png" width="60" height="60">
                    </div>
                </div>
            </div>
            <div class="register ml-2 mt-4 text-end">
                <button class="button btn register_submit">
                    Sign In
                </button>
            </div>
        </div>
    </div>
    <div class="col m-1">
        <img style="transform: scaleX(-1);" src="~/assets/speech.png" width="450" height="450">
    </div>
</div>